
<section class="w-75 py-5 container">
    <div class="row py-lg-5 bg-danger white rounded">
        <div class="col-lg-6 col-md-8 justify-content-start">
            <h1 class="fw-bold mx-5 my-5 bigger">GARAGE LOREM</h1>
            <p class="mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ratione deserunt corporis deleniti reprehenderit pariatur cum, tempore vitae officiis, repellendus molestias odit dolores, sit eum nihil iure. Quis, labore exercitationem.</p>
        </div>
        <div class="col-lg-6 col-md-8 justify-content-start align-items-center">
            <img class="img-fluid mx-auto" src="images/garage.jpg" alt="notre garage" />
        </div>   
    </div>
</section>

