{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
  <main>
    <div>{{ render(controller('App\\Controller\\SectionIController::index')) }}</div>
    <div>{{ render(controller('App\\Controller\\SectionOccasionController::index')) }}</div>
  </main>
{% endblock %}
