{% extends 'base.html.twig' %}


{% block title %}
  Contactez-nous
{% endblock %}

{% block body %}
  <main class="w-50 mx-auto my-5">
    <h1 class="my-4">Nouveau Message</h1>
    {{ form(form) }}
  </main>
{% endblock %}